/* EspecialistaPesquisa.css */

.container-especialista {
  width: 90vw; /* Largura de 90% da viewport */
  margin: auto; /* 70px de margem superior para a barra de navegação e margens laterais automáticas */
  padding: 20px;
  background-color: #fff;
  height: 90vh;
  overflow-y: auto; /* Adiciona rolagem vertical se necessário */
}

.header-especialista {
  font-size: 24px;
  margin-bottom: 20px;
}

.filters-especialista {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.select-especialista {
  flex: 1;
  margin-right: 10px;
}

.search-form {
  display: flex; /* Usar flexbox para organizar os elementos em linha */
  align-items: center; /* Alinhar elementos verticalmente ao centro */
}

/* Estilos para o campo de pesquisa */
.input-especialista {
  flex: 1;
  width: 200px; /* Defina a largura desejada para o campo de pesquisa */
  padding: 5px;
  font-size: 14px;
}

.button-especialista {
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.results-especialista {
  margin-top: 20px;
}

.results-especialista ul {
  list-style: none;
  padding: 0;
}

.results-especialista li {
  font-size: 16px;
  margin: 5px 0;
}

/* Estilo da animação de carregamento */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.loading {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.specialist-table th,
.specialist-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.specialist-table th {
  background-color: #f2f2f2;
}

.specialist-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.specialist-table tr:hover {
  background-color: #ddd;
}