.body-buscar-paciente {
    height: 100%;
}

.body-prontuario {
    background-color: #f2f2f2;
    min-height: 557px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 1200px;
    flex: 1;
    height: auto;
    min-height: 589px;
}

.cabecalho-prontuario {
    background-color: white;
    padding: 12px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.176);
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: auto
}

.dados-gerais-do-paciente {
    background-color: white;
    padding: 12px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.176);
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.divisor-subtitle {
    border-top-style: solid;
    border-top-color: rgba(0, 0, 0, 0.176) ;
    border-top-width: 1px;
    padding-top: 8px;
}

.card-text {
    min-width: 800px;
}

.menu-left {
    text-align: center;
    width: 200px;
    height: 100%;
    background-color: #f2f2f2;
    border-right-style:solid;
    border-right-color: rgba(0, 0, 0, 0.176);
    border-right-width: 1px;
    flex: 0 0 auto; /* Faz com que a div menuu tenha uma largura fixa e não cresça verticalmente */
  }

  .titulo-menu-left {
    height: 30px;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom-color: rgba(0, 0, 0, 0.176);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: #6c757d;
  }

  .btn-menu-l {
    background-color: transparent;
    min-height: 10px;
    height: 30px;
    border-width: 0px;
  }

  .selected {
    border-color: #005eff;
    border-left-color: #005eff;
    border-left-width: 6px;
    border-left-style: solid;
    background-color: white;
    padding-left: 0px;
  }
  .p-content {
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
  }

.ano-text {
    font-size: small;
}

.mes-text {
    font-size: medium;
}

.dia-text {
    font-size: x-large;
}

.block-body {
    height: 85vh;
    background-color: transparent;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.block-input {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.titulo-input {
    justify-content: left;
    padding-top: 10px;
    padding-left: 10px;
}

.input-container {
    padding: 0 10px 10px 10px;
}

/* COMPONENTE BuscarPaciente.js*/
.btn-amb {
    padding: 10px;
}

/*COMPONENTE ProntuarioLinhaDoTempo.js*/
.date-card {
    padding: 0px;
    margin: 0px;
    max-height: 75px;
    max-width: 48px; 
}

.lines {
    padding: 0;
}

.lines1 {
    margin-left: 3px;
}